<footer id="footer">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>RAUFT</strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://bootstrapmade.com/">Elbrus Team</a>
    </div>
  </div>
</footer>
