<header id="header" class="d-flex align-items-center ">
  <div class="container-fluid container-xxl d-flex align-items-center">

    <div id="logo" class="me-auto">
      <!-- Uncomment below if you prefer to use a text logo -->
      <!-- <h1><a href="index.html">The<span>Event</span></a></h1>-->
      <a href="/" class="scrollto"><img class="logo" src="assets/img/logo.png" alt="" title=""><span
          id="padding_left"></span><img src="assets/img/slogan.png" alt="" title=""></a>
    </div>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="/club">CLUB</a></li>
        <li><a class="nav-link scrollto" href="/training">TRAINING</a></li>
        <li><a class="nav-link scrollto" href="/team">TEAM</a></li>
        <li><a class="nav-link scrollto" href="/stadium">STADIUM</a></li>
        <li><a class="nav-link scrollto" href="/schedule">SCHEDULE</a></li>
        <li><a class="nav-link scrollto" href="/events">EVENTS</a></li>
        <li><a class="nav-link scrollto" href="/gallery">GALLERY</a></li>
        <li><a class="nav-link scrollto" href="/login">LOGIN</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->
    <a class="buy-tickets scrollto" href="/registration">REGISTRATION</a>

  </div>
</header><!-- End Header -->
