<div>
  
  <ul>
      {{#each candidates}}
    <li>
      {{this.login}}
    </li>
    {{/each}}
  </ul>
</div>



<form action="/admin" method="PATCH">
  <label for="fname">name:</label>
  <input type="text" id="fname" name="fname"><br><br>
  <label for="lname">Last name:</label>
  <input type="text" id="lname" name="lname"><br><br>
  <input type="submit" value="Submit">
</form>
