<div class="img_container">
  <div class="left_container">
    <p class="custom_header">We bet happy feelings may be renewed every week?</p>
  </div>
  <div class="right_container">
    <p class="custom_text">Absolutely!</p>
    <p>That's why we founded our club for bosses and managers in 2009.</p>
    <p>It's a unique place where educated and successful men, who appreciate comaraderie, can socialise
      and train every week.</p>
    <p>It's a joy for us to train and play football in the open air with real friends around us. </p>
    <p>We create a unique and friendly atmosphere so rare in the modern world.</p>
  </div>
</div>
