<!-- ======= Hotels Section ======= -->
<section id="hotels" class="section-with-bg">

  <div class="container">
    <div class="section-header">
      <h2>Future events</h2>
    </div>

    <div class="row" data-aos-delay="100">

      <div class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img src="assets/img/events/gudman.jpg" alt="" class="img-fluid">
          </div>
          <h3><a href="#">Family Event. Goodman Culinary school</a></h3>
          <p>In March, together with our families, we will learn to cook together with experienced Goodman chefs. We
            will
            master cooking salad, grilled vegetables, meat (Steaks), sause and biscuit.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img src="assets/img/events/img_1361.jpg" alt="" class="img-fluid">
          </div>
          <h3><a href="#">Family Event. Intellectual Quiz</a></h3>
          <p>
            In April we’ll visit intellectual Quiz in nice Moscow bar. We’ll be divided into 5 teams and we will find
            answers to various interesting questions.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="hotel">
          <div class="hotel-img">
            <img src="assets/img/events/billiard_1_.jpg" alt="Hotel 3" class="img-fluid">
          </div>
          <h3><a href="#">FAMILY EVENT. CHARITY BILLIARD TOURNAMENT</a></h3>
          <p>
            For the third time in the history of the Club we will hold a charity billiard tournament together with our
            families. The collected money will go to the treatment of sick children.</p>
        </div>
      </div>

    </div>
  </div>

</section><!-- End Hotels Section -->
