<section id="venue">

  <div class="container-fluid">

    <div class="section-header">
      <h2>Stadium</h2>
      <p>Stadium location info and gallery</p>
    </div>

    <div class="row g-0">
      <div class="col-lg-6 venue-map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1585.7379032151964!2d37.41366690572235!3d55.80066863165484!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5489b530cf639%3A0x5071b814e75df1d5!2sYantar&#39;!5e0!3m2!1sen!2sru!4v1616072729664!5m2!1sen!2sru"
          frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-lg-6 venue-info">
        <div class="row justify-content-center">
          <div class="col-11 col-lg-8 position-relative">
            <h3>Did you know that 1.5 hour open air training prolongs life by 17 days?</h3>
            <p>We train every week so we can watch
              the World Cup in 2094!

              Our home stadium is in Strogino in the west of Moscow. It has convenient access and parking.
              There are two Metro stations nearby.

              The pitch consists of artificial turf «DD SoccerGrass TD 50» the sixth generation, which conforms to
              international standards and provides equal and neutral bounce of the ball, important for professional
              players.

              Rain or snow no matter what, we train outdoors and feel great!</p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container-fluid venue-gallery-container">
    <div class="row g-0">

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="venue-gallery">
          <a href="https://via.placeholder.com/800x600" class="glightbox" data-gall="venue-gallery">
            <img src="https://via.placeholder.com/800x600" alt="" class="img-fluid">
          </a>
        </div>
      </div>

    </div>
  </div>

</section><!-- End Venue Section -->
