<div class="img_container">
  <div class="left_container">
    <p class="custom_header">When were you last time in a team to which you wanted to return?</p>
    <iframe id="team_video" width="560" height="315" src="https://www.youtube.com/embed/PevWvrbXBvI" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>
  <div class="right_container">
    <p class="custom_text">We were there last week! </p>
    <p>We love football sincerely and believe that sport makes life better. It's important for us that our players enjoy
      our training and socialising.
      We respect and support each other.</p>
    <p>Our club though is not for everyone.
      To become a member you must share our values.</p>
    <p>We are proud of our members. They are modest and successful people who achieved a lot and are still developing in
      spite of all the challenges.</p>
    <p>We create a unique and friendly atmosphere so rare in the modern world.</p>
    <a href="/" class="about-btn scrollto">GO TO MEMBERS</a>
  </div>
</div>
