<div class="img_container">
  <div class="left_container_custom">
    <p class="custom_header">Did you know that training and enjoyment could be synonyms?</p>
    <img width="500" height="310" src="assets/img/about-bg.jpg"></img>
  </div>
  <div class="right_container_custom">
    <p class="custom_text">We have also thought about making our training sessions as entertaining and developmental as
      possible. </p>
    <p>Our priority is to take care of our club members. That's why all our training sessions are headed by professional
      coaches who graduated from top level Moscow football clubs. </p>
    <p>The training structure is based on the methodology of the leading European football clubs.</p>
    <p>There are of course players with different skill levels thats why the whole training session lasts 1.5h and is
      focused on making our players feel comfortable regardless of their physical condition.</p>
    <p>On average our team plays two matches a month and on those days the whole training process is adapted to prepare
      for the match.</p>
  </div>
</div>
